{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1f4b17ad15892fdb61e4a11551864994";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <i class="fa fa-paw " aria-hidden="true">&nbsp;&nbsp;&nbsp;ziawang's site</i>
            </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/blog/method/">个人总结 </a></li>
                <li><a href="/blog/python/">python</a></li>
                <li><a href="/blog/linux/">linux</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Web框架<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog/django/">Django</a></li>
                        <li><a href="/blog/flask/">Flask</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Web前端<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog/javascript/">JavaScript</a></li>
                        <li><a href="/blog/html/">HTML</a></li>
                        <li><a href="/blog/css/">CSS</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/blog/jquery/">jQuery</a></li>
                        <li><a href="/blog/ajax/">Ajax</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">通用知识<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog/internet/">网络</a></li>
                        <li><a href="/blog/computer/">计算机</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">数据库<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog/mysql/">MySQL</a></li>
                        <li><a href="/blog/postgresql/">PostgreSQL</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/blog/mongodb/">MongoDB</a></li>
                        <li><a href="/blog/redis/">redis</a></li>
                        <li><a href="/blog/memacached/">Memacached</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">网站架构<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Nginx</a></li>
                        <li><a href="#">Tornado</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">性能</a></li>
                        <li><a href="#">缓存</a></li>
                        <li><a href="#">高可用</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-li">
                    <form class="navbar-form navbar-left" action="/blog/" method="get">
                        <div class="form-group">
                            <input type="text" name="article_title__contains" class="form-control" placeholder="搜索文章名">
                        </div>
                        <button type="submit" class="btn btn-default">search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main">
    <div class="container-fluid">
        <span id="scroll-top"></span>
        {% block main %}

        {% endblock main %}
    </div>
    <div id="back-to-top" class="text-center hides">
        <i class="fa fa-angle-double-up" aria-hidden="true" title="回到顶部"></i>
    </div>
</div>

<script src="{% static '/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>