{% extends 'base.html' %}
{% block title %}{{ site_category }}{% endblock title %}
{% block main %}
    <div class="col-sm-2 menu">
        <div class="menu-head">
            <i class="fa fa-list" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;目录
        </div>
        <div class="menu-content">
            {% for category in article_category_list %}
                <div class="menu-title">
                    <span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;&nbsp;&nbsp;
                        {{ category.article_category_title }}
                    </span>
                </div>
                <div class="per-menu hides">
                    {% for article in category.article_set.all %}
                        <div class="per-article"><a
                                href="{% url 'blog_article' article_id=article.id %}">{{ article.article_title }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="col-sm-10 content">
        <div class="article-content">
            {% for article in articles %}
                <div class="pre-article-view">
                    <h3><a href="{% url 'blog_article' article_id=article.id %}">{{ article.article_title }}</a></h3>
                    <p><span><strong>摘要:</strong></span>{{ article.content|striptags|truncatechars:350 }}</p>
                </div>
            {% endfor %}
        </div>
        <ul class="pagination pull-right">
            {{ page_obj.bootstrap_page_html|safe }}
        </ul>
    </div>
{% endblock %}

