{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>王子豪的个人网站</title>
    <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1f4b17ad15892fdb61e4a11551864994";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>

<div class="container">
    <div class="col-sm-2 col-sm-offset-10  header-icon">
        <i class="fa fa-weixin" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <i class="fa fa-qq" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
    </div>
    <div class="show-info-image"></div>
    <div class="col-sm-12 text-center title">
        <span class="big">
            <span style="color: #34A853">ziawang<span style="color: #FBBC05">'s</span></span>

            <span style="color: #EA4335">site</span>
        </span>
    </div>
    <div class="col-sm-4 col-sm-offset-4" style="margin-top: 30px">
        <div class="col-sm-4 text-center"><a href="/blog/" class="navigation">blog</a></div>
        <div class="col-sm-4 text-center"><a href="" class="navigation">about</a></div>
        <div class="col-sm-4 text-center"><a href="" class="navigation">ziawang</a></div>
    </div>
    <div class="hello">
        <p class="hello-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi guys!&nbsp;你是本站的第{{ site.access_count }}位访问者。
        </p>
        <p class="hello-content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp非常高兴你能来到这里，这儿是我个人在Web开发和学习过程中一些知识和经验的总结，如果你发现了
            一些错误，请通过右上角联系方式联系我，我会及时改正哒。
        </p>
    </div>
</div>
<div class="page-footer">
    <div class="footer-left">
        <span>Site navigation:&nbsp;</span>
        <span><a href="">python org</a></span>
        <span><a href="">Flask</a></span>
        <span><a href="">Django</a></span>
    </div>
    <div class="footer-middle">
        <span>王子豪的个人网站&nbsp;&nbsp;@2017-2018</span>
    </div>
</div>
<script src="{% static '/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/home.js' %}"></script>
</body>
</html>